@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

   body {
      @apply text-darkGunmetal bg-lotionWhite overflow-x-hidden;
      scroll-behavior: smooth;
   }
}

@layer components {


   .social-icons {
      @apply h-[18px] md:h-[26px]
   }

   .hero-title {
      line-height: 70px;
   }

   .card {
      box-shadow: 0px 4px 66px 0 rgba(0, 0, 0, 0.16);
   }

   .connect {
      height: calc(100vh - 100px);
   }

   .wallet-body {
      height: calc(100% - 100px);
   }

   .backdrop-blur {
      backdrop-filter: 8px;
   }

   .wallet-body {
      scrollbar-width: none;
      scroll-behavior: smooth;
   }
}