@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

   body {
      @apply text-darkGunmetal bg-lotionWhite overflow-x-hidden;
      scroll-behavior: smooth;
   }
}

@layer components {


   .social-icons {
      @apply h-[18px] md:h-[26px]
   }

   .hero-title {
      line-height: 70px;
   }

   .card {
      box-shadow: 0px 4px 66px 0 rgba(0, 0, 0, 0.16);
   }

   .connect {
      height: calc(100vh - 100px);
   }

   .backdrop-blur {
      backdrop-filter: 8px;
   }

   .wallet-body {
      height: calc(100% - 100px);
      scrollbar-width: none;
      scroll-behavior: smooth;
   }

   .wallet-container {
      @apply fixed top-0 right-[-600px] w-[89.5%] bottom-0 sm:w-[93.5%] sm:right-[-800px] md:absolute md:top-5 md:w-fit md:bottom-[unset];
   }

   .wallet-active {
      @apply right-0;
      animation: slideIn 300ms ease-in-out;
   }

   .wallet-hidden {
      opacity: 0;
      animation: slideOut 300ms ease-in-out;
   }

   @keyframes slideIn {
      from {
         /* transform: translateX(120%); */
         @apply right-[-600px] opacity-0;
      }

      to {
         /* transform: translateX(0); */
         opacity: 1;
         @apply right-0 opacity-100;
      }
   }

   /* Define the slide-out animation */
   @keyframes slideOut {
      from {
         /* transform: translateX(0); */
         @apply right-0 opacity-100;
      }

      to {
         /* transform: translateX(120%); */
         @apply right-[-600px] opacity-0;
      }
   }

   .line {
      width: calc(100% / 5.2);
   }

   /* Add this CSS to your existing styles or create a new CSS file */

   .dark-background {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 0;

      animation: lineAnimation 7s linear infinite;
   }

   .dark-background.paused {
      animation-play-state: paused;
   }

   @keyframes lineAnimation {
      0% {
         width: 0;
      }

      100% {
         width: 100%;
      }
   }
}